<% title "#{@user.username}" %>

<%= render "follow_header" %>

<div class="row-fluid">
  <div class="span6 offset1 account-header">
    <h2><%= "#{@user.username.possessive} followers" %></h2>
  </div>

</div>

<div class="row-fluid">
  <div class="span7 offset1 profile-content">
    <%= render partial: "user", collection: @user.followers  %>
  </div>
  <%= render "shared/profile_sidebar" %>
</div>

