<% title "#{@user.username} followed users" %>

<%= render "follow_header" %>

<div class="row-fluid">
  <div class="span6 offset1 account-header">
    <h2><%= "#{@user.username} is following:" %></h2>
  </div>

  <%= render "shared/profile_sidebar" %>
</div>

<div class="row-fluid">
  <div class="span7 offset1 profile-content">
    <ul>
      <% @user.followed_users.each do |followed| %>
        <li><%= followed.display_name %> - View Profile | Follow </li>
      <% end %>
    </ul>
  </div>
</div>

