<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <div class="row-fluid">
        <div class="span1">
          <%= link_to image_tag("logo-small.png"), root_path %>
        </div>

        <div class="span7">
          <%= random_greeting_for_user %>
        </div>

        <div class="offset2 span2 toolbar">
          <%= link_to edit_user_registration_path, :rel => "tooltip", :data => { :placement => "bottom", :"original-title" => "Settings" } do %>
            <span class="icon">f</span>
          <% end %>

          <%= link_to destroy_user_session_path, :rel => "nofollow", :method => :delete, :data => { :placement => "bottom", :"original-title" => "Logout" } do %>
            <span class="icon">X</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


