<% title "Your Profile" %>

<%= render "user_header" %>

<div class="row-fluid">
  <div class="span6 offset1 song-list">
    <p>
      These are your songs. There are many like them but these ones <em>are yours</em>.<br/>
    </p>
    <p>
      Click on them to highlight, comment, re-edit & share them.
    </p>


    <%= render :partial => "song", :collection => @user.songs %>
  </div>
</div>
