<% if @show_welcome_notice %>
  <div class="welcome-notice">
    <p>Welcome stranger! makeitpersonal is a place where you can highlight, share and annotate your favorite lyrics. <%= link_to "Sign up here", new_user_registration_path %> or <%= link_to "learn more about the site", "/" %>.
    </p>
  </div>
<% end %>
