<div class="row-fluid">
  <div class="span12">
    <div class="header">
      <div class="row-fluid">
        <div class="span1">
          <%= link_to image_tag("logo-small.png"), root_path %>
        </div>

        <div class="span8">
          These are some of the songs annotated by <span class="green"><%= @user.username %></span>.
        </div>

        <%= render "shared/toolbar" %>
      </div>
    </div>
  </div>
</div>
