<div class="song-cell">
  <%= link_to(user_song_path(song.user, song), :class => "song-cell-light") do %>
    <%= truncate(song.name, :length => 55) %>
    <i class="icon-arrow-right"></i>
  <% end %>
  <span class="by">(by <%= link_to song.user.username, song.user %>)</span>
</div>
