<p>Add emphasis to a text by surrounding it with asterisks (*). For example:</p>

<p>
  <code>Eating snow flakes with plastic forks, *and a paper plate of course*.</code>
</p>

<span class="icon spacer">[</span>

<p>
  Eating snow flakes with plastic forks, <em>and a paper plate of course</em>.
</p>

<p>To add a side-note (like the one you're reading right now), surround the text with double brackets:</p>

<p><code>[[This is a side note. It will appear on the right side of the screen]].</code></p>

<p>You can format your sidenotes with <a href="http://daringfireball.net/projects/markdown/syntax">Markdown.</a></p>
