<p>Add emphasis to a text by surrounding it with asterisks (*). For example:</p>

<p>
  <code>Eating snow flakes with plastic forks, *and a paper plate of course*.</code>
  <span class="icon spacer">[</span>
  Eating snow flakes with plastic forks, <em>and a paper plate of course</em>.
</p>

<p>To add a side-note (like the one you're reading right now), surround the text with double brackets:</p>

<p><code>[[This is a side note. It will appear on the right side of the screen]].</code></p>
