<% title "editing song" %>

<%= render "users/user_header" %>

<div class="container">
  <div class="row">
    <%= render "edit" %>


    <div class="span3 offset1 lower-sidebar">
      <h2>tips</h2>

      <div class="bordered">
        <div class="steps">
          <div id="step1" class="step-active">
            <%= render "tips" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
