<p id="song-body">
  <%= @song.body %>
</p>

<div class="sidenotes">
  <%= @song.sidenotes %>
</div>

<div id='new-url'>
  <%= user_song_url(@song.user, @song) %>
</div>

<div id='new-title'>
  <%= @song.name %>
</div>
