<%= render "landing_left" %>
<% title("contact") %>
<div class="manifesto">
  <p>
    You can email me at: <a href="mailto:federico@mheroin.com">federico@mheroin.com</a>. <br/>Twitter is also an option, my username is <a href="http://twitter.com/febuiles">@febuiles</a>.
  </p>
</div>
