<%= render "landing_left" %>

<div class="manifesto">
  <p>
    <strong>makeitpersonal</strong> was developed by <%= link_to "Federico Builes", "http://mheroin.com" %> and designed by <%= link_to "oficiosvarios", "http://oficiosvarios.co" %>.
  </p>
</div>
