<%= render "landing_left" %>

<div class="manifesto">
  <p>
    <em>Dear artist, music label, recording industry executive</em>:
  </p>

  <p>
    I'm not doing this to profit myself. Or anyone.
  </p>

  <p>
    <strong>makeitpersonal</strong> is a labour of love, an experiment in music where people can share their thoughts and feelings about their favorite songs.
  </p>

  <p>I'm not doing this to steal your money. I don't want this site to become the biggest lyrics portal in the planet. Hell, I don't care about 90% of the so-called &ldquo;music&rdquo; out there.
  </p>

  <p>
    I don't know if lyrics are protected under any copyright law; I don't care. Instead, let's make a deal: if you don't want your fans writing about your songs just <a href="mailto:federico@mheroin.com">email me</a> and I'll take them down. The songs, not the fans. Or the fans too, for the right amount of money.
  </p>

  <p>
    Let's not be assholes.
  </p>
</div>
