<p class="intro"><em>makeitpersonal</em> is an experiment in content sharing. It's currently being beta-tested.</p>
<p class="intro">Want to use it? Drop me a tweet <%= link_to "@febuiles", "http://twitter.com/febuiles" %>.</p>
