<%= render "landing_left" %>

<% title "manifesto" %>

<div class="manifesto">
  <p>We see life as an art form. The way in which we paint ourselves in this canvas called existence is the way others will see us.</p>

  <p>Music is a theather with a tiny group of performers that in most situations is better understood through the lyrics of a piece. Every word in that text was meticulously crafted, fitted into place and given a meaning. The ambiguity of those meanings change from person to person.</p>

  <p>makeitpersonal is the exploration of this form of expression called music.</p>

  <p>_why the lucky stiff used to say that "tastes narrow and exclude people" in a negative context. We think that our tastes define us and they give a pretty good idea of who we are. We're taking this to the next step and sharing all these feelings with the people that we care about. We want everyone to share the things that touch them in music (and in particular, in lyrics), the stuff that moves them and trigger an inner emotion. We want to see those special words that strike a chord inside you, the ones that made you anxious, the ones that cheer you up, the ones that describe your life or the ones that have marked you.</p>

  <p>Check out some of the samples to see what we mean by making it personal:</p>

  <ul>
    <li>Ej1</li>
    <li>Ej2</li>
    <li>Ej3</li>
  </ul>

  <p>We encourage you to <%= link_to "sign up", new_user_registration_path %> to get started. If you have anything to say to us, please <%= link_to "contact us", "/contact" %>.</p>
</div>
