<%= render "landing_left" %>

<div class="manifesto">
  <form>
    <label>Username:</label>
    <input type="text" />
    <label>Email:</label>
    <input type="text"/>
    <label>Password:</label>
    <input type="text"/>
    <label>Password confirmation:</label>
    <input type="text"/>
    <%= submit_tag "Sign Up" %>
  </form>
</div>
