$green: #7fcc41
$blue: #0d0f1e
$gray: #222
$sans: "pt-sans", sans-serif !important
$icons: "ModernPictogramsNormal"

body
  margin: 0 !important
  background-color: $gray
  padding-top: 60px !important
  font-family: $sans

div.landing-left
  width: 600px
  float: left
  img
    margin-bottom: 120px
    margin-left: -2px
  footer
    float: left
    margin-left: 30px !important
    a
      font-size: 14px
      color: $green
      margin-bottom: 10px
      text-decoration: none
      font-weight: 300
      display: block
      margin-right: 30px
      &:hover
        text-decoration: underline


div.landing-links
  div.login
    display: none
    width: 245px
    margin-left: 30px
    margin-bottom: 30px
  a
    padding-left: 45px
    height: 50px
    background-color: $green
    display: block
    width: 155px
    margin-bottom: 60px
    font-size: 30px
    color: white
    font-weight: bold
    line-height: 50px
    text-decoration: none
    &:last-child
      width: 155px
    &:hover
      text-decoration: none

div.manifesto
  float: left
  width: 380px
  color: white
  a, a:visited
    color: white
    text-decoration: underline
  a:hover
    background-color: white
    color: $gray
    text-decoration: none
  p
    font-family: "proxima-nova", sans-serif
    font-size: 17px
    line-height: 23px
    margin-bottom: 1em


form
  label
    font-size: 16px
    display: block
    color: white
    margin-bottom: 10px
  button
    float: right
    height: 40px
    line-height: 38px
    width: 50px
    border: 0 !important
    border-radius: 0 !important
    margin-top: -10px
    margin-right: -14px
    cursor: pointer
    background: url("/assets/go.png") no-repeat 50% 50%
    i
      color: white !important
      font-size: 22px
  input[type="text"], input[type="password"]
    outline: 0 !important
    -webkit-box-shadow: none !important
    font-size: 18px
    height: 24px
    color: white
    margin-bottom: 30px
    width: 100%
    background-color: $gray
    display: block
    border: 0
    border-bottom: 1px solid $green
  input[type="submit"]
    border: 0
    height: 40px
    background-color: $green
    display: block
    width: 115px
    font-size: 22px
    color: white
    font-weight: bold
    line-height: 35px
    cursor: pointer
    float: right


.large
  width: 400px !important

.notices
  margin-bottom: 40px