body
  background-color: #0d0f1e
  padding-top: 60px !important
  font-family: "proxima-nova", sans-serif !important

div.landing-left
  width: 600px
  float: left
  img
    margin-bottom: 120px
    margin-left: -2px

div.landing-links
  a
    padding-left: 45px
    height: 50px
    background-color: #bf4317
    display: block
    width: 135px
    margin-bottom: 70px
    font-size: 30px
    color: white
    font-weight: bold
    line-height: 50px
    &:last-child
      width: 155px
    &:hover
      text-decoration: none


footer
  float: left
  margin-left: 45px !important
  margin-top: 40px !important

  a, a:visited
    font-size: 14px
    color: white
    text-decoration: underline
    display: block
    float: left
    margin-right: 30px


div.manifesto
  float: left
  width: 380px
  color: white
  p
    font-size: 16px
    line-height: 22px
    margin-bottom: 1em
