h1
  color: #d51007
  font-size: 48px
  font-weight: bold
  margin-bottom: 20px

div.wrap
  background-color: #f6f6f6
  border-radius: 10px
  padding: 15px
  height: 250px

  div.field
    min-height: 64px
    font-size: 48px
    color: #aaa
    margin-bottom: 30px

    textarea
      width: 532px
      border: 1px solid #ccc
      height: 600px
    label
      float: left
      display: block
      font-size: 64px
      width: 220px
      margin-right: 30px
    input
      float: left
      display: block
      font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif
      height: 64px
      width: 535px
      font-size: 48px
      border: 1px solid #ccc
      color: #aaa
    select
      font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif
      height: 64px
      font-size: 42px
      border: 1px solid #ccc
      color: #aaa

  input[type=submit]
    float: right
    width: 230px
    height: 65px
    margin-right: 35px
    font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif
    font-size: 36px
    color: #666

div#playlist
  margin-top: 30px

div.song
  margin: 0 auto
  width: 750px
  padding: 5px 25px
  margin-bottom: 5px
  min-height: 45px
  border-bottom: 1px solid #ddd
  img, span.artist
    vertical-align: top
  img
    height: 34px
    width: 34px
  span
    font-size: 28px
    margin-left: 15px
  span.artist
    color: #d51007
  span.title
    display: inline-block
    font-weight: 300
    max-width: 450px
  span.time
    color: #ccc
    float: right

div.welcome
  width: 100%
  font-size: 36px
  text-align: center
  a, a:visited
    color: #D51007

p.share
  width: 545px
  margin: 0 auto
  font-size: 22px
  padding: 30px
  background-color: #f6f6f6
  border-radius: 10px
  margin-bottom: 40px
  input
    font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif
    font-size: 22px
    border: 1px solid #ccc
    width: 400px
    margin-left: 5px

div.hidden
  display: none