$gray: #222
$lightGray: #7f7f7f
$orange: #bf4317
$green: #7fcc41
$blue: #0d0f1e
$serif: "pt-serif", serif
$sans:  "proxima-nova", sans-serif
$icons: "ModernPictogramsNormal"

html, body
  height: 100%

.icon
  font-family: $icons
  color: $green
.green
  color: $green

body
  padding-top: 0 !important
  background-color: white
  font-family: $sans !important
  font-size: 15px

div.wrap
  min-height: 100%

div.main
  overflow: auto
  padding-bottom: 85px

div.header
  color: white
  background-color: $gray
  height: 60px
  font-size: 1.25em
  line-height: 60px
  margin-bottom: 50px
  img
    margin-left: 15px
  a
    color: $green
    &:hover
      color: $green
  div.toolbar
    color: white
    a
      color: $green
      display: inline


div.lyric
  font-size: 18px
  line-height: 24px
  margin-bottom: 20px
  a, a:hover
    color: $green
  p
    color: #bbb
    font-family: "pt-sans"
  em
    font-family: "pt-serif", sans-serif !important
    font-weight: 500
    font-style: normal !important
    color: black

div.lyric-extra
  width: 100%
  text-align: center
  font-size: 22px
  line-height: 28px
  margin-bottom: 55px
  img
    margin: 30px
  span
    color: $green
    font-weight: 600
  .input-share
    height: 40px
    font-family: $sans
    font-size: 32px
    width: 600px
  a
    color: $green
    &.italic
      font-style: italic


.container-fluid
  margin-bottom: 50px



footer
  margin-top: -85px
  position: relative
  clear: both
  width: 100%
  height: 70px
  padding-top: 15px
  background-color: $gray
  color: white
  & > *
    float: left
    display: block
  a, a:hover
    color: $green
  .mid
    text-align: center
    margin-top: 10px
    font-size: 48px


div.notes
  font-size: 13px
  em
    color: $green
  span.spacer
    display: block
    margin: 0 auto
    width: 10px
  h2#tips-title
    width: 100px


div.user-sidebar
  color: $lightGray
  font-size: 13px
  a
    color: $lightGray !important
    text-decoration: underline
    &.important
      font-weight: 600
      text-decoration: none


div.song-list
  h4
    color: $gray
    margin-top: 40px
  h2
    color: $green
  p
    font-size: 1.25em
    a
      color: $green
  a.song-dropdown
    margin-top: 12px
    height: 30px
    background-color: $gray
    display: inline-block
    min-width: 250px
    color: white
    font-size: 18px
    font-family: $serif
    line-height: 28px
    padding-left: 10px
    &:hover
      text-decoration: none
    span
      margin-left: 20px
      margin-right: 20px

div.song-links
  display: none
  margin-top: 10px
  font-size: 16px
  line-height: 22px
  em
    font-family: $serif
  span.icon
    margin-right: 5px
    color: $green
    font-size: 1.5em
  a, a:hover
    color: $gray
    font-family: $serif
    text-decoration: underline

div.modal-body
  input[type="text"]
    width: 450px

div.new-song
  h2
    margin-bottom: 30px

  input[type="text"]
    border: 1px solid #999
    border-radius: 0
    width: 100%
    height: 55px
    line-height: 55px
    font-size: 36px
    font-weight: 600
    padding-left: 5px
    font-family: $sans !important
    margin-bottom: 25px
  textarea
    border: 1px solid #999
    width: 100%
  #song_lyrics, #song_youtube_url
    display: none


div.notes
  h2
    margin-bottom: 25px
    color: $gray
  p
    margin-top: 1em
    color: $lightGray
    &.big
      font-size: 1.25em
      i
        display: inline
        margin-right: 3px
  .bordered
    border-left: 1px solid #e5e5e5
    padding-left: 20px

  a
    color: $green !important
    text-decoration: underline !important


#step1, #step2, #step2-nolyrics, #step3, #set-video, #publish
  display: none

.step-active
  display: block !important

.white
  color: #e1e1e1 !important

span.sidenote
  color: #08c !important
  font-size: 13px
  font-weight: bold
