$gray: #222
$dark: #222
$lightGray: #7f7f7f
$green: #7fcc41
$serif: "pt-serif", serif
$sans:  "proxima-nova", sans-serif
$icons: "ModernPictogramsNormal"

html, body
  height: 100%

h3
  font-weight: normal
  text-decoration: underline
  font-size: 1.5em
.icon
  font-family: $icons
  color: $green
.icon-white
  color: white
.green
  color: $green

body
  padding-top: 0 !important
  background-color: white
  font-family: $sans !important
  font-size: 15px

div.wrap
  min-height: 100%

div.main
  overflow: auto
  padding-bottom: 85px

div.header
  color: white
  background-color: $gray
  height: 60px
  font-size: 1.25em
  line-height: 60px
  margin-bottom: 50px
  img
    margin-left: 15px
  div.toolbar
    color: white
    a
      display: inline


div.lyric
  font-size: 18px
  line-height: 24px
  margin-bottom: 20px
  p
    color: #bbb
    font-family: "pt-sans"
  em
    font-family: "pt-serif", sans-serif !important
    font-weight: 500
    font-style: normal !important
    color: black

div.lyric-extra
  width: 100%
  text-align: center
  font-size: 22px
  line-height: 28px
  margin-bottom: 55px
  img
    margin: 30px
  span
    color: $green
    font-weight: 600
  .input-share
    height: 40px
    font-family: $sans
    font-size: 32px
    width: 600px
  a.italic
    font-style: italic

p.user-toolbar
  a.btn
    font-size: 18px
  i
    margin-right: 15px
    line-height: 1em
    font-size: 1.5em
    color: red !important

.container-fluid
  margin-bottom: 50px


footer
  margin-top: -85px
  position: relative
  clear: both
  width: 100%
  height: 70px
  padding-top: 15px
  background-color: $gray
  color: white
  & > *
    float: left
    display: block
  .mid
    text-align: center
    margin-top: 10px
    font-size: 48px


div.notes
  font-size: 13px
  em
    color: $green
  span.spacer
    display: block
    margin: 0 auto
    width: 10px
  h2#tips-title
    width: 100px


div.user-sidebar
  color: $lightGray
  font-size: 13px
  a
    color: $lightGray !important
    text-decoration: underline
    &.important
      font-weight: 600
      text-decoration: none

/* User profile
div.account-header
  margin-bottom: 40px
  h2
    color: $gray
  p
    font-size: 1.25em

div.profile-content
div.song-list
  span.date
    text-align: center
    color: #c8c8c8

  .row-jump
    margin-left: 30px
    margin-bottom: 20px
    .bordered p
      margin-top: 15px
      margin-bottom: 20px

    span.by
      color: $gray
      margin-left: 10px
      a
        color: $gray
        text-decoration: underline
    a.song
      padding: 5px 10px 5px 10px
      margin-top: 12px
      height: 30px
      font-size: 18px
      font-family: $serif
      i
        margin-left: 20px
        font-size: 0.7em
        line-height: 23px
      &:hover
        text-decoration: none
      &.song-dropdown
        background-color: $gray
        color: white !important
        i
          color: $green
      &.song-borrowed
        background-color: #e8e8e8 !important
        color: black !important
        i
          color: $gray

div.profile
  h3 a
    text-decoration: underline !important
  margin-top: -100px
  a.button
    text-decoration: none !important
    padding: 10px
    display: inline
    background-color: $gray
    text-decoration: none
    &:hover
      text-decoration: underline !important
  a.button-primary
    background-color: $green !important
    color: white !important
    padding: 10px
    display: inline
  p.profile-followers
    font-size: 18px
    line-height: 24px
    color: black



div.song-links
  display: none
  margin-top: 10px
  font-size: 16px
  line-height: 22px
  em
    font-family: $serif
  span.icon
    margin-right: 5px
    color: $green
    font-size: 1.5em
  a, a:hover
    color: $gray
    font-family: $serif
    text-decoration: underline

div.modal-body
  input[type="text"]
    width: 450px

div.new-song
  h2
    margin-bottom: 30px

  input[type="text"]
    border: 1px solid #999
    border-radius: 0
    width: 100%
    height: 55px
    line-height: 55px
    font-size: 36px
    font-weight: 600
    padding-left: 5px
    font-family: $sans !important
    margin-bottom: 25px
  textarea
    border: 1px solid #999
    width: 100%
  #song_lyrics, #song_youtube_url
    display: none


div.notes
  h2
    margin-bottom: 25px
    color: $gray
  p
    margin-top: 1em
    color: $lightGray
    &.big
      font-size: 1.25em
      a
        color: $dark

      i
        line-height: normal !important
        display: inline
        margin-right: 3px
  a
    text-decoration: underline !important
  div.sidenotes
    p
      border-left: 1px solid #e5e5e5
      padding-left: 20px

/* Following
img.avatar
  border-radius: 3px

div.user-info
  clear: both
  margin-bottom: 30px
  height: 80px
  img, p
    float: left
  p
    margin-left: 15px
    max-width: 500px
  strong
    font-size: 1.25em
  a.title
    color: $dark



#step1, #step2, #step2-nolyrics, #step3, #set-video, #publish
  display: none

.step-active
  display: block !important

.white
  color: #e1e1e1 !important

span.sidenote
  color: $green
  font-size: 13px
  font-weight: bold



textarea#user_bio
  width: 265px
  height: 150px

.bordered
  border-left: 1px solid #e5e5e5
  padding-left: 20px

.centered
  text-align: center

.right
  float: right

.dark
  color: $dark
  text-decoration: underline
  margin-right: 15px
  &:hover
    background-color: #dfdfdf
    color: $dark

.p-small
  font-size: 0.85em !important

div#love-song
  height: 30px
  line-height: 30px
  margin-bottom: 30px
  margin-top: 20px
  a
    margin-right: 10px
    text-align: right
    color: $dark !important
    font-size: 18px
    &:hover
      text-decoration: underline !important
  i
    margin-left: 20px
    font-size: 14px
    margin-right: 3px
    color: $green
    &.unlove
      color: #aaa


iframe.youtube-embed
  border: 10px solid $dark