<p>Hey <%= @followed.username %></p>

<p><%= @follower.username %> is now following you on makeitpersonal. <%= link_to "Click here", user_url(@follower) %> to view his profile.
</p>

<p>
Thanks,<br/>
makeitpersonal
</p>
