<p>Hola <%= @followed.username %></p>

<p><%= link_to @follower.username, user_url(@follower) %> is now following you on <%= link_to "makeitpersonal", "http://makeitpersonal.co" %>. Let's hope it's not another one of those weird stalkers who likes to use trench coats and smells kind of weird!</p>

<p>--,<br/>
your buddies at makeitpersonal</p>
