<p>Hi <%= @loved.username %></p>

<p>
  <%= link_to @lover.username, user_url(@lover) %> loved your notes on <%= link_to @song.name, user_song_url(@loved, @song) %>. Isn't that awesome?
</p>

<p>--<br/>
your buddies at makeitpersonal</p>
