<% playlist.songs.each do |song| %>
  <div class="song">
    <% if song.art %>
      <%= image_tag song.art %>
    <% end %>
    <span class="artist"><%= song.artist %></span>
    <span class="title"><%= song.title %></span>
    <span class="time"><%= song.time.strftime("%k:%M") %></span>
  </div>
<% end %>
