<!DOCTYPE html>
<html>
  <head>
    <title>makeitpersonal</title>
    <%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="overlay"></div>
    <div id="spinner"></div>
    <div class="content">
      <%= yield %>
    </div>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f041dc3844d526583000006');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
