<!DOCTYPE html>
<html>
<head>
  <title>LastPlaylist</title>
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="overlay"></div>
<%= yield %>

</body>
</html>
